body {
  font: 18px "Roboto", sans-serif;
  font-weight: 400;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #131313;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

header {
  background: #131313 !important;
  color: #fefefe!important;
}

.map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
